// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-size: cover;
    background-repeat: none;
    text-align: center;
}

.right {
    right: 0;
    background-color: lightskyblue;
}

.loginForm {
    font-family: 'Segoe UI';
    position: absolute;
    border-radius: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    text-align: center;
}

.loginForm p {
    font-size: 20px;
}

.loginForm a {
    font-size: 15px;
}

.bottomLoginForm {
    padding: 15px;
    font-size: 20px;
}

.inputBox {
    width: 100%;
    height: 35px;
    font-size: 17px;
    margin: 10px;
}

.loginButton {
    border-radius: 0px;
    width: 50%;
    height: 40px;
    background-color: rgba(3, 27, 136, 0.863);
    margin: 10px;
    color: white;
    font-size: 15px;
}

#login-letters-box {
    margin-top: 20%;
    display: inline-block;
    background-color: #0074d9;
    height: 100px;
    width: 100px;
    font-size: 1px;
    padding: 1px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    opacity: .7;
    box-shadow: 10px 10px 5px #aaaaaa;
}

@keyframes skew {
  0% {
    transform: skew(20deg, 20deg);
  }
  100% {
    transform: skew(-20deg, -20deg);
  }
}

#moving-login-letter {
    color: white;
    font-size: 40px;
}

.profile-container {
    height: 300px;
    background-color: #0074d9;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

#single-user-listed {
    background-color: #96c9f5;
}

#single-user-listed:nth-child(odd) {
    background-color: rgb(156, 186, 216);
}

#email-characters {
    border: 1px solid white;
    margin: 5px;
    width: 50px;
    float: left;
    text-align: center;
    color: black;
}

.logoutButton {
    float: right;
    clear: both;
    height: 30px;
    background-color: white;
    margin: 10px;
    color: black;
    font-size: 15px;

}